body {
    background-color: #24282B;
    color: #f2f2f2;
}
.follow {
    border-right: 1px solid rgba(255,255,255, 0.9)
}
.md-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }