<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Confirmation</title>
</head>
<body>

<p>Bonjour,</p>
<p>Vous recevez ce mail car nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Cliquez sur le bouton ci-dessous pour réinitialiser votre mot de passe :</p><br>

<a href="{{url}}">{{url}}</a>

</body>
</html>